rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /empresas/{empresaId} {
      allow read, write: if true;
      match /reconciliacoes/{recId} {
        allow read, write: if true;
      }
    }
  }
}
